#main
  - form_for @dad, :html => {:multipart => true} do |f|
    %fieldset
      %p
        = f.label :name, "My Daddy's name is"
        = f.text_field :name
      %p
        = f.label :description, "and he"
        = f.text_area :description, :rows=>"4", :id=>"textCount"
      %p
        %span.file
          = f.label :photo, "Add a photo"
          = f.file_field :photo
        
          = less_reverse_captcha_field :dad
      %p
        %br/
        = f.submit 'Submit', :class=>"btn submit"
