- form_for @dad, :html => {:multipart => true} do |f|
  %fieldset
    %p
      = f.label :name, "Your Dad's name:"
      = f.text_field :name
    %p
      = f.label :description, "What does he do:"
      = f.text_area :description
    %p
      %span.file
        = f.label :photo, "Add a photo?"
        = f.file_field :photo
    %p
      = f.submit 'Add Dad', :class=>"btn submit"
