.dad-image
  %p
    - if !@dad.photo || @dad.photo.size.blank?
      = image_tag("default.jpg")
    - else
      = image_tag(@dad.photo.url(:large))

.dad-info
  %h1
    =h @dad.name


  %p
    =h @dad.description 


  %p
    = twitter_share(@dad, dad_url(@dad))
    &nbsp;
    %meta{:name=>"description", :content=>"#{@dad.description}"}
    %link{:rel=>"image_src", :href=>"#{@dad.photo.url(:thumb)}"}
    = facebook_share(dad_url(@dad))
    &nbsp;
    = email_share(dad_url(@dad))
