.dad-image
  %p
    - if !@dad.photo || @dad.photo.size.blank?
      = image_tag("rails.png")
    - else
      = image_tag(@dad.photo.url(:large))

.dad-info
  %h1
    = @dad.name


  %p
    = @dad.description 


  %p
    = twitter_share(@dad, dad_url(@dad))
    &nbsp;
    = facebook_share(dad_url(@dad))
    &nbsp;
    = email_share(dad_url(@dad))
  
  %p
    = link_to "<- All Dads", root_path 
