%h1
  = @dad.name

%p
  - if !@dad.photo || @dad.photo.size.blank?
    = image_tag("rails.png")
  - else
    = image_tag(@dad.photo.url(:larg))
  

%p
  = @dad.description 
  

%p
  = twitter_share(dad_url(@dad))
  

%p
  = facebook_share(dad_url(@dad))
  
%p
  %a{:href=>"mailto:?subject=Dads!%20&body=Check%20out%20my%20dad:%20#{dad_url(@dad)}"}Email This
  

= link_to "Back", root_path 
