<h1><%= @dad.name %></h1>

<p>
  <%= image_tag @dad.photo.url %>
</p>

<p>
  <%= @dad.description %>
</p>

<p>
  <a href="http://www.twitter.com/home?status=Who+is+you+daddy+and+what+does+he+do?+<%= Dad.make_bitly_from("#{dad_url(@dad)}") %>">Twitter!</a>
</p>

<%= link_to "Back", root_path %>
