%h1
  = @dad.name

%p
  - if !@dad.photo || @dad.photo.size.blank?
    = image_tag("rails.png")
  - else
    = image_tag(@dad.photo.url(:larg))
  
%p
  = @dad.description 
  

%p
  = twitter_share(@dad, dad_url(@dad))
  
%p
  = facebook_share(dad_url(@dad))
  
%p
  = email_share(dad_url(@dad))
  

= link_to "Back", root_path 
