<h1><%= @dad.name %></h1>

<p>
  <%= image_tag @dad.photo.url %>
</p>

<p>
  <%= @dad.description %>
</p>

<p>
  <%= twitter_share(dad_url(@dad))%>
</p>

<p>
  <%= facebook_share(dad_url(@dad))%>
</p>

<%= link_to "Back", root_path %>
