.dads
  %h2
    The Dad's
  - if @dads.blank?
    %h2
      No Dads added yet : [
  - else
    - @dads.each do |dad|
      %div
        %p
          = link_to image_tag(dad.photo.url), dad_path(dad)
        %p
          = link_to dad.name, dad_path(dad)
        %p
          = dad.description
        %p
          = twitter_share(dad_url(dad))
        %p
          = facebook_share(dad_url(dad))

= link_to "Add my Dad", new_dad_path

= will_paginate @dads
