.dads
  - if @dads.blank?
    %h2
      No Dads added yet : [
  - else
    - @dads.each do |dad|
      .dad
        .photo
          - if !dad.photo || dad.photo.size.blank?
            =# TODO: add a missing.png file
            = link_to image_tag("rails.png")
          - else
            = link_to image_tag(dad.photo.url(:thumb))
        %a{:href=>"#{dad_path(dad)}"}
          .info
            %h2
              = dad.name
            %p
              = dad.description
  .clearfix
.paginate
  = will_paginate @dads
  
